#
# MANIFEST.in
#
# Manifest template for creating the pyfuzzy source distribution.
#
# created 2001/08/13, Rene Liebscher
#
# $Id: MANIFEST.in,v 1.2 2003-02-13 08:45:27 rliebscher Exp $
#

include *.txt TODO
include MANIFEST.in
graft examples
global-exclude *.pyo
global-exclude *.pyc

include doc/makehtml.sh
include doc/mypydoc.py