#
# MANIFEST.in
#
# Manifest template for creating the pyfuzzy source distribution.
#
# created 2001/08/13, Rene Liebscher
#
# $Id: MANIFEST.in,v 1.3 2009-01-09 22:11:18 rliebscher Exp $
#

include *.txt TODO
include MANIFEST.in
graft examples
global-exclude *.pyo
global-exclude *.pyc

include doc/makehtml.sh
include doc/mypydoc.py
include doc/SFpydoc.py